<mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu icon" (click)="sidemenuToggle()">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <span>Real World App</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Logged user" *ngIf="(auth$ | async).user">
        <fa-icon [icon]="faUser"></fa-icon>
    </button>
    <span *ngIf="(auth$ | async).user">{{ (auth$ | async).user?.name }} {{ (auth$ | async).user?.lastName }}</span>
</mat-toolbar>
