<!-- top navbar is shown only when user is logged in -->
<app-navbar></app-navbar>
<mat-sidenav-container class="app-container">
    <!-- side menu bar is shown only when user is logger in (and we could add some other logic) -->
    <mat-sidenav #sidenav mode="side" [(opened)]="sidemenuOpened">
        <app-sidemenu></app-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content>
        <p><mat-checkbox [(ngModel)]="sidemenuOpened">sidenav.opened</mat-checkbox></p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

